<div class="title">
  <h1>
    - My Performances -
  </h1>
  <img width="160" alt="Nutrapp Logo" src="https://www.campingmonacoparc.com/xusers/campingmonacoparc.com/doc/users/1/bib/noun_882_cc_6451.png">
  <h3> " Memorize my maxi perfs ! " </h3>
</div>

<div>

  <h1>
    Save Max
  </h1>

    <div>

    <mat-form-field class="exercice">
      <input matInput type="text" [(ngModel)]="exercice" placeholder="Exercice">
    </mat-form-field>

    <mat-form-field class="max">
      <input matInput type="number" [(ngModel)]="max" placeholder="Charge Max">
    </mat-form-field>

    <mat-form-field class="date">
      <input matInput type="text" [(ngModel)]="date" placeholder="Date Perf">
    </mat-form-field>


  </div>


  <div>
    <button mat-raised-button color="primary" (click)="savePerformance()">Save my Max ! </button>
  </div>
  <br>
  <div class="save">{{completemsg}}</div>

  <h1>
    Saved Max
  </h1>
  <ul>

    <li *ngFor="let performance of performances ">  ( Exercice : {{performance.exercice}} ) - ( Charge Max : {{performance.max}} ) - ( Date performance :  {{performance.date}} )  </li> 
  
    </ul>


  
    