<div class="title">
  <h1> 
    - Contact Us -  
  </h1>
  <img width="160" alt="Nutrapp Logo"
       src="https://www.campingmonacoparc.com/xusers/campingmonacoparc.com/doc/users/1/bib/noun_882_cc_6451.png">
</div>

<br>
<br>
<br>

<div class="contactUsText">
  If you have any suggestion, do not hesitate to write us !<br>
  
</div>
<h1 class="example-container">
  <mat-form-field class="mailInput">
    <input matInput placeholder="Enter your email" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
</h1>

<div class="example-container">
  <mat-form-field hintLabel="Max 500 characters">
    <input matInput #input maxlength="500" placeholder="Enter some input">
    <mat-hint align="end">{{input.value?.length || 0}}/500</mat-hint>
  </mat-form-field>
</div>
