<div class="title">
    <h1>
      - My Max -
    </h1>
    <img width="160" alt="Nutrapp Logo" src="https://www.campingmonacoparc.com/xusers/campingmonacoparc.com/doc/users/1/bib/noun_882_cc_6451.png">
    <h3> " Let's check my maxi ! " </h3>
  </div>
  
  <h1>
      Calcul my Max
    </h1>
  
  <div class="saisie">
  
    <form class="example-form">
  
  
      <mat-form-field class="Weight">
      
        <input matInput type="number" placeholder="Weight (kg) " #weight>
  
      </mat-form-field>
  
    </form>
  
  </div>
  
  
  <div>
  
  
  
    <br>
    <mat-form-field>
      <input matInput placeholder="Maxi Bench (kg)" [value]="(weight.value * getCoefBench()) | number: '1.0-2' ">
    </mat-form-field>
  
    <mat-form-field>
      <input matInput placeholder="Maxi Squat (kg)" [value]="(weight.value * getCoefSquat()) | number: '1.0-2' ">
    </mat-form-field>
  
    <mat-form-field>
      <input matInput placeholder="Maxi DeadLift (kg)" [value]="(weight.value * getCoefDeadLift()) | number: '1.0-2'">
    </mat-form-field>
  
  
  
  </div>