<div class="title">
  <h1>
   - My Profile -
   </h1>
  <img width="160" alt="Nutrapp Logo"
       src="https://www.campingmonacoparc.com/xusers/campingmonacoparc.com/doc/users/1/bib/noun_882_cc_6451.png">
</div>

  <form class="myprofile">
    <mat-form-field class="profile-full-width">
      <input matInput placeholder="First name">
    </mat-form-field>

    <mat-form-field class="profile-full-width">
      <input matInput type="text" placeholder="Name">
    </mat-form-field>

    <mat-form-field class="profile-full-width">
      <input matInput type="number" placeholder="Age">
    </mat-form-field>

    <mat-form-field class="profile-full-width">
      <input matInput type="number" placeholder="Weight">
    </mat-form-field>

    <mat-form-field class="profile-full-width">
      <input matInput type="email" placeholder="E-mail">
    </mat-form-field>

     <mat-form-field class="profile-full-width">
     <input matInput type="date" placeholder="Birth Date">
    </mat-form-field>  
  </form>

  <button class="submit" mat-raised-button="" color="primary"> SAVE CHANGE</button>
