.sidenav-container {
    height: 100%;
  }
  
  button {
    border: none;
    background: transparent;
  }
  
  button:focus {
    -moz-appearance: none;
    -ms-progress-appearance: none;
    -webkit-appearance: none;
    border: none;
    background: none;
    box-shadow: none;
    outline: none;
  }
  