<div class="title">
  <h1>
    - My Workout -
  </h1>
  <img width="160" alt="Nutrapp Logo" src="https://www.campingmonacoparc.com/xusers/campingmonacoparc.com/doc/users/1/bib/noun_882_cc_6451.png">
</div>

<h3>" Let's create my workouts ! " </h3>


<h1>
  Create New Workout
</h1>
<div class="saveFavM">
  <mat-form-field>
    <input matInput type="text" placeholder=" Name of my Workout " [(ngModel)]="nameWorkout"> </mat-form-field>
</div>

<div class="saisie">

  <form class="example-form">

    <mat-form-field class="example-full-width">

      <input type="text" placeholder="Assignee" [(ngModel)]="selectedExerciceType" #alim placeholder="Exercice" matInput [formControl]="myControl"
        [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">

        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option.name}}
        </mat-option>

      </mat-autocomplete>

    </mat-form-field>

  </form>

  <mat-form-field class="set">
    <input matInput type="number" [(ngModel)]="set" placeholder="Number of set">
  </mat-form-field>


  <mat-form-field class="rep">
    <input matInput type="number" [(ngModel)]="repetition" placeholder="Number of rep">
  </mat-form-field>

</div>


<div>
  <button mat-raised-button color="link" (click)="addExercice()">
    Add exercice
  </button>

  <button mat-raised-button color="primary" (click)="createWorkout()">Save my Workout ! </button>
  <button mat-raised-button color="warn" (click)="resetForm()">Delete Form</button>

  <div class="error">{{errormessage}}</div>
  <div class="saved">{{completemsg}}</div>
  <span class="error">{{errormessageMenu}}</span>


  <ul class="list">
    <li *ngFor=" let exercice of exercices">
      Exercice added : {{exercice.exerciceType.name}} - Number of set : {{exercice.set}} - Number of rep : {{exercice.rep}}
    </li>
  </ul>




  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>